{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>CategoryName</th>
                <td>{{ category.categoryName }}</td>
            </tr>
            <tr>
                <th>Subfield</th>
                <td>{{ category.subfield }}</td>
            </tr>
            <tr>
                <th>TypeOfFunding</th>
                <td>{{ category.typeOfFunding }}</td>
            </tr>
            <tr>
                <th>ProfitabilityIndex</th>
                <td>{{ category.profitabilityIndex }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_index') }}">back to list</a>

    <a href="{{ path('app_categories_edit', {'id': category.id}) }}">edit</a>

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
